<!DOCTYPE html>
<html>
  <head>
    <title>FidelityFog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      window.logoSplash = "<%= image_url('soundcloud-icon-1.svg') %>";
      window.logoUserNav = "<%= image_url('small_logo.png') %>";
      window.pause = "<%= image_url('pause.gif') %>";
      window.play = "<%= image_url('play.gif') %>";
      window.noart = "<%= image_url('noart.png') %>";
    </script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Open+Sans|Righteous|Roboto&display=swap');
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
