<!DOCTYPE html>
<html>
  <head>
    <title>FidelityFog</title>
    <meta property="og:title" content="FidelityFog" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://fidelityfog.herokuapp.com" />
    <meta property="og:description" content="A music sharing web app based on the popular SoundCloud platform.">
    <meta property="og:image" content="image_url('fidelity_fog_splash.png')" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      window.logoSplash = "<%= image_url('soundcloud-icon-1.svg') %>";
      window.logoUserNav = "<%= image_url('small_logo.png') %>";
      window.pause = "<%= image_url('pause.gif') %>";
      window.play = "<%= image_url('play.gif') %>";
      window.track_bar_play = "<%= image_url('track_bar_play.svg') %>";
      window.track_bar_pause = "<%= image_url('track_bar_pause.svg') %>";
      window.track_bar_next = "<%= image_url('track_bar_next.svg') %>";
      window.track_bar_previous = "<%= image_url('track_bar_previous.svg') %>";
      window.track_bar_repeat_before = "<%= image_url('track_bar_repeat_before.svg') %>";
      window.track_bar_repeat_after = "<%= image_url('track_bar_repeat_after.svg') %>";
      window.track_bar_shuffle_before = "<%= image_url('track_bar_shuffle_before.svg') %>";
      window.track_bar_shuffle_after = "<%= image_url('track_bar_shuffle_after.svg') %>";
      window.track_bar_volume = "<%= image_url('track_bar_volume.svg') %>";
      window.noart = "<%= image_url('noart.png') %>";
      window.loadingSpinner = "<%= image_url('loading_spinner.svg') %>";
      window.loadingSpinner = "<%= image_url('loading_spinner.svg') %>";
    </script>
    <script src="https://kit.fontawesome.com/359c646850.js" crossorigin="anonymous"></script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Open+Sans|Righteous|Roboto&display=swap');
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
